packages: [
  ".bin"
  "angular2-snippets"
  "atom-beautify"
  "atom-material-syntax"
  "atom-material-ui"
  "atom-typescript"
  "autocomplete-go"
  "builder-go"
  "editorconfig"
  "environment"
  "go-config"
  "go-get"
  "go-plus"
  "gofmt"
  "gometalinter-linter"
  "gorename"
  "goto"
  "linter"
  "navigate"
  "navigator-godef"
  "open-in-browser"
  "package-sync"
  "python-autopep8"
  "react"
  "remote-edit"
  "symbols-tree-view"
  "tabular"
  "tester-go"
  "tidy-markdown"
  "you-complete-me"
]
