packages: [
  ".bin"
  "angular2-snippets"
  "atom-beautify"
  "atom-material-syntax"
  "atom-material-ui"
  "atom-typescript"
  "go-plus"
  "goto"
  "linter"
  "navigate"
  "open-in-browser"
  "package-sync"
  "python-autopep8"
  "react"
  "remote-edit"
  "symbols-tree-view"
  "tabular"
  "tidy-markdown"
  "you-complete-me"
]
